*.iml
/ahi_jetpack_compose_multiscan_boilerplate/.gradle
/ahi_jetpack_compose_multiscan_boilerplate/local.properties
/ahi_jetpack_compose_multiscan_boilerplate/.idea/caches
/ahi_jetpack_compose_multiscan_boilerplate/.idea/libraries
/ahi_jetpack_compose_multiscan_boilerplate/.idea/shelf
/ahi_jetpack_compose_multiscan_boilerplate/.idea/workspace.xml
/ahi_jetpack_compose_multiscan_boilerplate/.idea/modules.xml
/ahi_jetpack_compose_multiscan_boilerplate/.idea/workspace.xml
/ahi_jetpack_compose_multiscan_boilerplate/.idea/navEditor.xml
/ahi_jetpack_compose_multiscan_boilerplate/.idea/assetWizardSettings.xml
/ahi_jetpack_compose_multiscan_boilerplate/.DS_Store
/ahi_jetpack_compose_multiscan_boilerplate/build
/ahi_jetpack_compose_multiscan_boilerplate/captures
/ahi_jetpack_compose_multiscan_boilerplate/.externalNativeBuild
/ahi_jetpack_compose_multiscan_boilerplate/.cxx
/ahi_jetpack_compose_multiscan_boilerplate/local.properties
/ahi_jetpack_compose_multiscan_boilerplate/app/build