*.iml
/ahi_kotlin_multiscan_boilerplate/.gradle
/ahi_kotlin_multiscan_boilerplate/local.properties
/ahi_kotlin_multiscan_boilerplate/.idea/caches
/ahi_kotlin_multiscan_boilerplate/.idea/libraries
/ahi_kotlin_multiscan_boilerplate/.idea/modules.xml
/ahi_kotlin_multiscan_boilerplate/.idea/workspace.xml
/ahi_kotlin_multiscan_boilerplate/.idea/navEditor.xml
/ahi_kotlin_multiscan_boilerplate/.idea/assetWizardSettings.xml
/ahi_kotlin_multiscan_boilerplate/.DS_Store
/ahi_kotlin_multiscan_boilerplate/build
/ahi_kotlin_multiscan_boilerplate/captures
/ahi_kotlin_multiscan_boilerplate.externalNativeBuild
/ahi_kotlin_multiscan_boilerplate.cxx
/ahi_kotlin_multiscan_boilerplatelocal.properties
/ahi_kotlin_multiscan_boilerplate/app/build
/ahi_kotlin_multiscan_boilerplate/.idea/shelf
/ahi_kotlin_multiscan_boilerplate/.idea/workspace.xml